// Variables
@import 'variables';

@tailwind base;

@tailwind components;

.section{
  @apply .px-4
}

.button{
  @apply .rounded-lg .text-sm .py-2 .px-5;
  background-color : blue ;
  text-decoration:none; 
  color : white;
  box-shadow : 0 2px 7px 0 #b0eaff;
}


.card{
  @apply .rounded .shadow .p-5; 
  background-color: white;
}

@tailwind utilities;

